<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeRecojo"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBufiSwuBW19JLsbXKDbW86pg_1wL7ifxU" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".FrequentSitesActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:label="Notificaciones" />
        <activity
            android:name=".DriverOffersActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".DriverActivity"
            android:exported="false" />

        <activity
            android:name=".AdminActivity"
            android:exported="false" />

        <activity
            android:name=".DriverProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.TeRecojo" />

        <activity
            android:name=".MyVehiclesActivity"
            android:exported="false"
            android:theme="@style/Theme.TeRecojo" />

        <activity
            android:name=".MyRequestsActivity"
            android:exported="false"
            android:label="Mis Viajes"
            android:theme="@style/Theme.TeRecojo" />

        <activity
            android:name=".DriverTripsActivity"
            android:exported="false"
            android:label="Mis Viajes (Chofer)"
            android:theme="@style/Theme.TeRecojo" />

        <activity
            android:name=".VerificationActivity"
            android:exported="false"
            android:label="Verificación"
            android:theme="@style/Theme.TeRecojo" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>